body {
  margin: 0;
  padding: 0;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: center;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.exit-container {
  margin-left: 40%;
  font-size: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-again {
  color: white;
  background-color: rgb(145, 247, 204);
  border: 1px solid rgb(145, 247, 204);
  cursor: pointer;
  border-radius: 5%;
}

.main__right {
  display: none;

  flex-direction: column;
  background-color: white;
  border-left: 1px solid #3d3d42;
}

.main__header {
  padding-top: 5px;
  color: black;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: #6264a6;
  list-style: none;
  list-style-position: outside;
  margin-left: -40px;
}

.messages li {
  border: 1px solid #6264a6;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 2px;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  height: 50px;

  color: black;
}

.leave_meeting {
  color: #eb534b;
}

.unmute,
.stop {
  color: #cc3b33;
}
